<!DOCTYPE html>
<html>
  <head>
    <title>MartaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY=<%=ENV['google_map_api_key']%>"></script>
    <h1>Hello wolrd</h1>
    <%= yield %>
  </body>
</html>
